# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Production build files
dist/
build/

# Misc
.DS_Store
.env
.env.local
.env.*.local
.vercel/
.idea/ # Se você usa WebStorm/IntelliJ
*.js.map
*.css.map

# Vite-specific
.vite/
