/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Você pode adicionar estilos globais personalizados abaixo */

/* Exemplo de estilo global */
body {
  font-family: 'Inter', sans-serif; /* Exemplo: se estiver usando Google Fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Outros estilos CSS globais */
